$purple66: #664DCE;
$purple4F: #4F41B7;

$pinkF8: #F886AE;
$pinkDE: #DE6D97;
$selected: #f4edff;

$greenLight: #cce9e4;
$greenDark: #518a81;
$greenSat: #95cc65;

$orangeLight: #ffead2;
$orangeDark: #d08842;
$orangeSat: #f7bb4e;

$bg: #faf9fc;
$black: #333;
$red: #d84f6a;

$disabledGrey: #c8cbd6;

$borderRadius: 30px;

$bpL: 900px;
$bpM: 700px;
$bpS: 550px;