@import '@/assets/scss/variables';

@font-face {
    font-family: 'NeueHaasDisplay';
    src: local('NeueHaasDisplay Light'), local('NeueHaasDisplay-Light'),
        url('@/assets/fonts/NeueHaasDisplay-Light.woff2') format('woff2'),
        url('@/assets/fonts/NeueHaasDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: local('NeueHaasDisplay Roman'), local('NeueHaasDisplay-Roman'),
        url('@/assets/fonts/NeueHaasDisplay-Roman.woff2') format('woff2'),
        url('@/assets/fonts/NeueHaasDisplay-Roman.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NeueHaasDisplay';
    src: local('NeueHaasDisplay Medium'), local('NeueHaasDisplay-Medium'),
        url('@/assets/fonts/NeueHaasDisplay-Medium.woff2') format('woff2'),
        url('@/assets/fonts/NeueHaasDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'NotoSansJP';
    src: local('NotoSansJP Medium'), local('NotoSansJP-Medium'),
        url('@/assets/fonts/NotoSansJP-Medium.woff2') format('woff2'),
        url('@/assets/fonts/NotoSansJP-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+3000-303f, U+3040-309f, U+30A0-30FF, U+ff00-ffef, U+4e00-9faf;
}

@font-face {
    font-family: 'NotoSansJP';
    src: local('NotoSansJP Regular'), local('NotoSansJP-Regular'),
        url('@/assets/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        url('@/assets/fonts/NotoSansJP-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+3000-303f, U+3040-309f, U+30A0-30FF, U+ff00-ffef, U+4e00-9faf;
}

@font-face {
    font-family: 'NotoSansJP';
    src: local('NotoSansJP Light'), local('NotoSansJP-Light'),
        url('@/assets/fonts/NotoSansJP-Light.woff2') format('woff2'),
        url('@/assets/fonts/NotoSansJP-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+3000-303f, U+3040-309f, U+30A0-30FF, U+ff00-ffef, U+4e00-9faf;
}

input,
a,
button {
    outline: none;
    border: none;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    font-size: 0;
}

body {
    color: $black;
    background-color: $bg;
    width: 100vw;
    overflow-x: hidden;
}

* {
    -webkit-tap-highlight-color: transparent;
    font-family: 'NotoSansJP', 'NeueHaasDisplay', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 70px 0 50px;
}

@media (max-width: $bpL) {
    .container {
        padding: 0 50px;
    }
}

@media (max-width: $bpM) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: $bpS) {
    .container {
        padding: 0 15px;
    }
}