@import './variables';

input,
a,
button {
    outline: none;
    border: none;

    &:focus {
        outline: none;
    }
}

body {
    color: $black;
    margin: 0;
    background-color: $bg;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
}