@import '@/scss/variables';

@font-face {
    font-family: 'CenturyGothic';
    src: local('CenturyGothic Regular'), local('CenturyGothic-Regular'),
        url('@/fonts/CenturyGothic.woff2') format('woff2'),
        url('@/fonts/CenturyGothic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: local('CenturyGothic Bold'), local('CenturyGothic-Bold'),
        url('@/fonts/CenturyGothic-Bold.woff2') format('woff2'),
        url('@/fonts/CenturyGothic-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansJP';
    src: local('NotoSansJP Medium'), local('NotoSansJP-Medium'),
        url('@/fonts/NotoSansJP-Medium.woff2') format('woff2'),
        url('@/fonts/NotoSansJP-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+3000-303f, U+3040-309f, U+30A0-30FF, U+ff00-ffef, U+4e00-9faf;
}

@font-face {
    font-family: 'NotoSansJP';
    src: local('NotoSansJP Regular'), local('NotoSansJP-Regular'),
        url('@/fonts/NotoSansJP-Regular.woff2') format('woff2'),
        url('@/fonts/NotoSansJP-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+3000-303f, U+3040-309f, U+30A0-30FF, U+ff00-ffef, U+4e00-9faf;
}

@font-face {
    font-family: 'NotoSansJP';
    src: local('NotoSansJP Light'), local('NotoSansJP-Light'),
        url('@/fonts/NotoSansJP-Light.woff2') format('woff2'),
        url('@/fonts/NotoSansJP-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+3000-303f, U+3040-309f, U+30A0-30FF, U+ff00-ffef, U+4e00-9faf;
}

input,
a,
button {
    outline: none;
    border: none;

    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
    background-color: transparent;
    font-size: 0;
}

body {
    color: $black;
    background-color: $bg;
}

* {
    font-family: 'NotoSansJP', 'CenturyGothic', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
}