@import '@/scss/variables';
@import '@/scss/mixins';

.modalWrapper {
    @include modalOverlay;
}

.content {
    position: relative;
    width: 300px;
    height: 200px;
    padding: 30px;

    text-align: center;
    border-radius: 5px;
    background-color: white;
}

.text {
    display: block;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;
}

.deleteBtn {
    display: block;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 7px;

    color: white;
    background-color: $red;
    font-size: 18px;
}

.cancelBtn {
    font-size: 15px;
    text-decoration: underline;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}


.content-enter-active,
.content-leave-active {
    transform: none;
    transition: transform .2s ease;
}

.content-enter-from,
.content-leave-to {
    transform: scale(.8);
}